@import url(./variables.css);

@media (max-width: 1023px) {
    .menu_label {
        display: block;
        cursor: pointer;
    }
    
    .menu_ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: var(--header_height);
        bottom: 0;
        left: 0;
        background: black;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .menu_input:checked + .menu_ul {
        clip-path: circle(100% at center);
    }

    .profile_2_about_me {
        margin-left: 0;
        padding-right: var(--margin_horizontal_menu);
        margin-top: 400px;
    }

    .portfolio_div {
        display: flex;
        flex-direction: column;
    }
}